body {

background-image: linear-gradient(to right, rgb(75, 69, 60), rgb(210, 94, 48)) ;
}
.card-body {
background-color: rgb(176, 198, 184);
}
.card {
    background-image: linear-gradient(to right, rgb(75, 69, 60), rgb(210, 94, 48)) ;
}